.reddit-clone-button {
  background: #fff;
  border-width: 1px;
  border-color: #0079d3;
  color: #33a8ff;
  min-width: 100px;
  min-height: 30px;
  border-radius: 4px;

  &.solid {
    background: #0079d3;
    color: white;
  }
}
