.sub-post-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 16px;
  padding-top: 156px;
}

.sub-header-container {
  position: fixed;
  flex: 1 1 0%;
  width: 100%;
  top: 70px;
  display: flex;
  height: 70px;
  background: white;
  align-items: center;
  justify-content: center;
}

.sub-header-image {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.sub-header-text {
  font-size: 30px;
  margin-left: 20px;
  text-transform: capitalize;
}

.sub-header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  height: 70px;
}

.sub-header-post-button {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  padding-right: 16px;
  height: 70px;
}
